<div class="modal-header">
    <h4 class="modal-title">{{article.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="spinner-border" role="status" *ngIf="isLoadding">
    </div>
    <div class="card lesson-border" *ngIf="!isLoadding">
        <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><b>Title: </b>{{article.title}}</h5>
            <p class="card-text"><b>Date: </b>{{article.id}}</p>
            <p class="card-text"><b>Date: </b>{{article.createdAt  | date: 'dd/MM/yyyy'}}</p>
            <p class="card-text"><b>Content: </b>{{article.content}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>